:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-form-field {
  width: 320px;
}

.cartridge-filter__form-field {
  margin-right: 0;
}

@media screen and (min-width: 660px) {
  .cartridge-filter__form-field {
    margin-right: 10px;
  }  
}

