<button class="add-cartridge__title" (click)="toggleModalBtn()">
  Додати картридж
</button>

<div #modalOverlay class="modal-overlay" (click)="handleOverlayClick($event)">
  <div class="modal" (click)="$event.stopPropagation()">
    <h4 class="modal__title">Додати новий картридж</h4>
    <button (click)="toggleModalBtn()">close modal</button>
    <form class="cartr">
      <label for="barcode">штрихкод</label>
      <input
        type="text"
        id="barcode"
        placeholder="Введіть Штрихкод"
        id="barcode"
        name="barcode"
      />
      <label for="brand">бренд</label>
      <input type="text" id="brand" name="brand" />
      <label for="model">модель</label>
      <input type="text" id="model" name="model" />
      <label for="status">статус</label>
      <input type="text" id="status" name="status" />
      <label for="location">локація</label>
      <input type="text" id="location" name="location" />
      <label for="compatiblePrinters">сумісні принтери</label>
      <input type="text" id="compatiblePrinters" name="compatiblePrinters" />
      <label for="responsible">відповідальний</label>
      <input type="text" id="responsible" name="responsible" />
      <label for="notes">примітки</label>
      <input type="text" id="notes" name="notes" />
      <button>Додати</button>
    </form>
  </div>
</div>
