<form class="form-cartridge">
  <label for="barcode" class="form-cartridge__label-barcode">штрихкод</label>
  <input
    type="text"
    id="barcode"
    class="form-cartridge__input-barcode"
    placeholder="Введіть Штрихкод"
    id="barcode"
    name="barcode"
  />
  <label for="brand" class="form-cartridge__label-brand">бренд</label>
  <input
    type="text"
    id="brand"
    class="form-cartridge__input-brand"
    name="brand"
  />
  <label for="model" class="form-cartridge__label-model">модель</label>
  <input
    type="text"
    id="model"
    class="form-cartridge__input-model"
    name="model"
  />
  <label for="status" class="form-cartridge__label-status">статус</label>
  <input
    type="text"
    id="status"
    class="form-cartridge__input-status"
    name="status"
  />
  <label for="location" class="form-cartridge__label-location">локація</label>
  <input
    type="text"
    id="location"
    class="form-cartridge__input-location"
    name="location"
  />
  <label for="compatiblePrinters" class="form-cartridge__label-printers"
    >сумісні принтери</label
  >
  <input
    type="text"
    id="compatiblePrinters"
    class="form-cartridge__input-printers"
    name="compatiblePrinters"
  />
  <label for="responsible" class="form-cartridge__label-responsible"
    >відповідальний</label
  >
  <input
    type="text"
    id="responsible"
    class="form-cartridge__input-responsible"
    name="responsible"
  />
  <label for="notes" class="form-cartridge__label-notes">примітки</label>
  <input
    type="text"
    id="notes"
    class="form-cartridge__input-notes"
    name="notes"
  />
  <button class="form-cartridge__submit">додати</button>
</form>
