@mixin size-icon {
  width: calc(var(--global-text-size) + var(--calculate-icon-size));
  height: calc(var(--global-text-size) + var(--calculate-icon-size));
  font-size: calc(var(--global-text-size) + var(--calculate-icon-size));
}

@mixin hover-effect {
  &:hover {
    font-weight: 500;
    color: var(--accent-color);
    scale: 1.05;
    transition: all 0.2s ease-out;
  }
}

.cartridge-card {
  width: 320px;
  min-height: 420px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 15px;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 10px;
  box-sizing: border-box;
}

.cartridge-card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartridge-card__title {
  color: var(--value-text-color);
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.cartridge-card__barcode {
  margin-bottom: 15px;
  font-size: calc(var(--global-text-size) + var(--constant-text-size));
  color: var(--value-text-color);
}

.cartridge-card__actions {
  position: relative;
  padding: 5px;
}

.cartridge-card__actions > mat-icon {
  margin-left: 5px;
  color: var(--field-text-color);
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    color: var(--accent-color);
    scale: 1.15;
  }
}

.cartridge-card__actions-title {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--field-border-color);
  text-transform: capitalize;
  color: var(--value-text-color);
}

.cartridge-card__status-list {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: var(--value-text-color);
  border-bottom: 1px solid var(--field-border-color);
}

.cartridge-status::before {
  display: inline-block;
  margin-right: 5px;
  content: "";
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 50%;
}

.cartridge-card__status::first-letter {
  text-transform: capitalize;
}
.cartridge-card__status.filled,
.filled::before {
  background-color: var(--status-filled-color);
}

.cartridge-card__status.on-filler,
.on-filler::before {
  background-color: var(--status-on-filler-color);
}

.cartridge-card__status.in-printer,
.in-printer::before {
  background-color: var(--status-in-printer-color);
}

.cartridge-card__status.ended,
.ended::before {
  background-color: var(--status-ended-color);
}

.cartridge-card__status.on-repair,
.on-repair::before {
  background-color: var(--status-on-repair-color);
}

.cartridge-card__status.non-working,
.non-working::before {
  background-color: var(--status-non-working-color);
}

.cartrdige-card__status-wrapper {
  height: auto;
  margin-left: 2px;
  margin-bottom: 10px;
}

.cartridge-card__status {
  padding: 3px 10px;
  border-radius: 10px;
  color: var(--value-text-color);
}

.compatible-printers__wrapper,
.alternative-cartridges__wrapper {
  display: flex;
  align-items: start;
  margin-left: 2px;
  margin-bottom: 5px;
}

.compatible-printers__icon,
.alternative-cartridges__icon {
  margin-right: 5px;
}

.compatible-printers__list,
.alternative-cartridges__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  color: var(--value-text-color);
  border-bottom: 1px solid var(--field-border-color);
  text-transform: capitalize;
}

.compatible-printers__item,
.alternative-cartridges__item {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 5px;
  background-color: var(--primary-background-color);
  border-radius: 10px;
  border: 1px solid var(--card-border-color);
}

.cartridge-card__list {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.cartridge-card__list > li p {
  margin-left: 5px;
}
.compatible-printers__wrapper,
.alternative-cartridges__wrapper,
.cartridge-card__responsible-wrapper,
.cartridge-card__location-wrapper,
.cartridge-card__refill-wrapper,
.cartridge-card__quantity-wrapper {
  display: flex;
  align-items: center;
  color: var(--field-text-color);
}

.cartridge-card__responsible-value,
.cartridge-card__location-value,
.cartridge-card__refill-value,
.cartridge-card__quantity-value,
.cartridge-card__note-value {
  margin-left: 5px;
  color: var(--value-text-color);
}

.compatible-printers__icon,
.alternative-cartridges__icon,
.cartridge-card__responsible-icon,
.cartridge-card__location-icon,
.cartridge-card__refill-icon,
.cartridge-card__quantity-icon,
.cartridge-card__note-icon {
  @include size-icon;
}

.cartridge-card__note-wrapper {
  display: inline-block;
  color: var(--field-text-color);
  overflow-wrap: break-word;
  word-break: break-word;
  // щоб текст не виходив за межі колонки
  // display: flex;
  // align-items: flex-start;
}

.cartridge-card__note {
  display: inline-block;
  vertical-align: middle;
}

.cartridge-card__note-icon {
  display: inline-block;
  vertical-align: middle;
}

.cartridge-card__note-value {
  display: inline; /* або block */
  vertical-align: middle;
  margin-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  // щоб текст не виходив за межі колонки
  // flex: 1;
  // overflow-wrap: break-word;
  // word-break: break-word;
}

@media screen and (min-width: 480px) {
  .cartridge-card {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    min-height: 420px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
