@let cartridgeVariable = cartridge();
<div class="cartridge-card">
  <div class="cartridge-card__wrapper">
    <h3 class="cartridge-card__title">
      {{ cartridgeVariable.brand }} {{ cartridgeVariable.model }}
    </h3>

    <div class="cartridge-card__actions">
      <lucide-icon
        [img]="SquarePen"
        size="20"
        class="cartridge-card__actions-btn"
      ></lucide-icon>
      <div class="cartridge-card__actions-wrapper">
        <p class="cartridge-card__actions-title">дії</p>
        <ul class="cartridge-card__actions-list">
          <li class="cartridge-card__show-sku">
            <lucide-icon [img]="ScanBarcode" size="16"></lucide-icon>
            <p>{{ TEXT.buttons.showBarcode }}</p>
          </li>
          <li class="cartridge-card__edit-cartridge">
            <lucide-icon [img]="Pencil" size="16"></lucide-icon>
            <p (click)="editCartridge()">{{ TEXT.buttons.edit }}</p>
            @if (cartridgeVariable) {
              <app-modal>
                <h3 class="modal__title">{{ TEXT.buttons.editCartridge }}</h3>
                <app-cartridge-form [cartridgeData]="cartridgeVariable" />
              </app-modal>
            }
          </li>
        </ul>
        <p class="cartridge-card__change-status">
          {{ TEXT.buttons.changeStatus }}
        </p>
        <ul class="cartridge-card__status-list">
          @for (item of cartridgeStatus(); track item.id) {
            <li
              class="cartridge-card__status-item cartridge-status"
              [class]="item.status | translateStatus"
              (click)="selectStatus(item.status)"
            >
              {{ item.status }}
            </li>
          }
        </ul>
        <div class="cartridge-card__delete-cartridge">
          <lucide-icon [img]="Trash2" size="16"></lucide-icon>
          <button
            class="cartridge-card__delete-btn"
            (click)="removeCartridge()"
          >
            {{ TEXT.buttons.delete }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <p class="cartridge-card__barcode">
    [ SKU: {{ cartridgeVariable.barcode }} ]
  </p>
  <div class="cartrdige-card__status-wrapper">
    <span
      class="cartridge-card__status"
      [class]="cartridgeVariable.status | translateStatus"
    >
      {{ cartridgeVariable.status }}
    </span>
  </div>
  <div class="compatible-printers__wrapper">
    <lucide-icon
      [img]="Printer"
      size="18"
      class="compatible-printers__icon"
    ></lucide-icon>
    <p class="compatible-printers__title">
      {{ TEXT.fields.compatiblePrinters }}
    </p>
  </div>

  <ul class="compatible-printers__list">
    @for (
      compatiblePrinter of cartridgeVariable.compatiblePrinters;
      track $index
    ) {
      <li class="compatible-printers__item">{{ compatiblePrinter }}</li>
    }
  </ul>

  <div class="alternative-cartridges__wrapper">
    <lucide-icon
      [img]="PrinterCheck"
      size="18"
      class="alternative-cartridges__icon"
    ></lucide-icon>
    <p class="alternative-cartridges__title">
      {{ TEXT.fields.alternativeCartridges }}
    </p>
  </div>
  <ul class="alternative-cartridges__list">
    @for (
      alternativeCartridge of cartridgeVariable.alternativeCartridges;
      track $index
    ) {
      <li class="alternative-cartridges__item">
        {{ alternativeCartridge }}
      </li>
    }
  </ul>
  <ul class="cartridge-card__list">
    <li class="cartridge-card__responsible-wrapper">
      <lucide-icon [img]="User" size="18"></lucide-icon>
      <p class="cartridge-card__responsible">{{ TEXT.fields.responsible }}:</p>
      <p class="cartridge-card__responsible-value">
        {{ cartridgeVariable.responsible }}
      </p>
    </li>
    <li class="cartridge-card__location-wrapper">
      <lucide-icon [img]="MapPin" size="18"></lucide-icon>
      <p class="cartridge-card__location">{{ TEXT.fields.location }}:</p>
      <p class="cartridge-card__location-value">
        {{ cartridgeVariable.location }}
      </p>
    </li>
    <li class="cartridge-card__refill-wrapper">
      <lucide-icon [img]="PaintBucket" size="18"></lucide-icon>
      <p class="cartridge-card__last-refill">
        {{ TEXT.fields.lastRefillDate }}:
      </p>
      <time datetime="15-09-2025" class="cartridge-card__refill-value"
        >15.09.2025
      </time>
    </li>
    <li class="cartridge-card__refill-wrapper">
      <lucide-icon [img]="PaintBucket" size="18"></lucide-icon>
      <p class="cartridge-card__next-refill">
        {{ TEXT.fields.nextRefillDate }}:
      </p>
      <time datetime="30-09-2025" class="cartridge-card__refill-value"
        >30.09.2025
      </time>
    </li>
  </ul>
</div>
