:host {
  margin-left: auto;
  margin-right: auto;
}

.cartridge-card {
  width: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px 10px;
  background-color: var(--card-background-color);
}

.cartridge-card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartridge-card__title {
  color: var(--value-text-color);
  font-size: 20px;
}

.cartridge-card__barcode {
  font-size: 18px;
}

.cartridge-card__actions {
  position: relative;
  padding: 5px;
}

.cartridge-card__actions-btn {
  color: var(--btn-dark-background-color);
  cursor: pointer;
}

.cartridge-card__actions-wrapper {
  position: absolute;
  width: 150px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 1px solid var(--card-border-color);
  clip: rect(0 0 0 0);
  background-color: var(--card-background-color);
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.cartridge-card__actions:hover .cartridge-card__actions-wrapper {
  width: 150px;
  height: auto;
  position: absolute;
  top: 6px;
  right: 21px;
  overflow: visible;
  clip: auto;
  padding: 5px 5px;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 5px;
  z-index: 10;
}

.cartridge-card__actions-title {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--field-border-color);
  text-transform: capitalize;
  color: var(--value-text-color);
}
.cartridge-card__actions-list {
  border-bottom: 1px solid var(--field-border-color);
}

.cartridge-card__actions-list > li {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  color: var(--value-text-color);
}

.cartridge-card__show-sku {
  display: flex;
  align-items: center;
}

.cartridge-card__show-sku > p {
  padding-left: 3px;
  &::first-letter {
    text-transform: capitalize;
  }
}

.cartridge-card__edit-cartridge {
  display: flex;
  align-items: center;
  color: var(--field-text-color);
}

.cartridge-card__edit-cartridge > p {
  padding-left: 3px;
  &::first-letter {
    text-transform: capitalize;
  }
}

.cartridge-card__status-list {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  color: var(--value-text-color);
  border-bottom: 1px solid var(--field-border-color);
}

.cartridge-card__change-status {
  padding-top: 5px;
  color: var(--value-text-color);
  &::first-letter {
    text-transform: capitalize;
  }
}

.cartridge-card__status-item {
  margin-bottom: 5px;
  cursor: pointer;

  &:first-child {
    margin-top: 5px;
  }
}

.cartridge-card__status-item:last-child {
  margin-bottom: 0;
}

.cartridge-status::before {
  display: inline-block;
  margin-right: 5px;
  content: "";
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 50%;
}

.cartridge-card__status::first-letter {
  text-transform: capitalize;
}
.cartridge-card__status.filled,
.filled::before {
  background-color: var(--status-filled-color);
}

.cartridge-card__status.on-filler,
.on-filler::before {
  background-color: var(--status-on-filler-color);
}

.cartridge-card__status.in-printer,
.in-printer::before {
  background-color: var(--status-in-printer-color);
}

.cartridge-card__status.ended,
.ended::before {
  background-color: var(--status-ended-color);
}

.cartridge-card__status.on-repair,
.on-repair::before {
  background-color: var(--status-on-repair-color);
}

.cartridge-card__status.non-working,
.non-working::before {
  background-color: var(--status-non-working-color);
}

.cartridge-card__delete-cartridge {
  display: flex;
  align-items: flex-start;
  color: var(--btn-dark-background-color);
}

.cartridge-card__delete-btn {
  width: 100%;
  color: var(--btn-dark-background-color);
  background-color: inherit;
  border: none;
  text-transform: capitalize;
  text-align: start;
  cursor: pointer;
}

.cartrdige-card__status-wrapper {
  height: auto;
  margin-left: 2px;
  margin-bottom: 10px;
}

.cartridge-card__status {
  padding: 3px 10px;
  border-radius: 10px;
  color: var(--value-text-color);
  font-weight: 700;
}

.compatible-printers__wrapper,
.alternative-cartridges__wrapper {
  display: flex;
  align-items: center;
  margin-left: 2px;
  margin-bottom: 5px;
}

.compatible-printers__icon,
.alternative-cartridges__icon {
  color: var(--field-text-color);
  margin-right: 5px;
}

.compatible-printers__title,
.alternative-cartridges__title {
  color: var(--field-text-color);
}

.compatible-printers__list,
.alternative-cartridges__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: var(--value-text-color);
  border-bottom: 1px solid var(--field-border-color);
}

.compatible-printers__item,
.alternative-cartridges__item {
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 3px 10px;
  background-color: var(--primary-background-color);
  border-radius: 10px;
  border: 1px solid var(--card-border-color);
  font-weight: 700;

  &:first-child,
  &:nth-child(4) {
    margin-left: 0;
  }
}

.cartridge-card__data {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.cartridge-card__responsible-wrapper,
.cartridge-card__location-wrapper,
.cartridge-card__refill-wrapper {
  display: flex;
  align-items: center;
  color: var(--field-text-color);
}

.cartridge-card__responsible-value,
.cartridge-card__location-value,
.cartridge-card__refill-value {
  margin-left: 5px;
  color: var(--value-text-color);
  font-weight: 700;
}

.cartridge-card__location-wrapper {
  color: var(--field-text-color);
}

@media screen and (max-width: 480px) {
  :host {
    margin-left: auto;
    margin-right: auto;
  }
  .cartridge-card {
    width: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
