<form
  class="location-form"
  [formGroup]="locationForm"
  (ngSubmit)="handleSubmit()"
>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label for="name" class="location-form__label-name">{{
      TEXT.fields.name
    }}</mat-label>
    <input
      matInput
      type="text"
      id="name"
      class="location-form__input-name"
      name="name"
      formControlName="name"
      autocomplete="on"
    />
  </mat-form-field>
  @if (name!.invalid && (name!.dirty || name!.touched)) {
    @if (name!.hasError("required")) {
      <mat-error class="location-form__error">{{
        TEXT.validation.required
      }}</mat-error>
    }
    @if (name!.hasError("minlength")) {
      <mat-error class="location-form__error">{{
        TEXT.validation.minLengthName
      }}</mat-error>
    }
  }

  <mat-form-field subscriptSizing="dynamic">
    <mat-label for="location" class="location-form__label-location">{{
      TEXT.fields.location
    }}</mat-label>
    <input
      matInput
      type="text"
      id="location"
      class="location-form__input-location"
      name="location"
      formControlName="location"
      autocomplete="on"
    />
  </mat-form-field>
  @if (location!.invalid && (location!.dirty || location!.touched)) {
    @if (location!.hasError("required")) {
      <mat-error>{{ TEXT.validation.required }}</mat-error>
    }
    @if (location!.hasError("minlength")) {
      <mat-error>{{ TEXT.validation.minLengthLocation }}</mat-error>
    }
  }

  <button
    matButton="outlined"
    type="submit"
    class="location-form__submit"
    [disabled]="locationForm.invalid"
  >
    {{ TEXT.buttons.saveChanges }}
  </button>
</form>
