.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  padding: 16px;
  border-radius: 4px;
  width: 100%;
  max-width: 479px;
  max-height: 80%;
  overflow-y: auto;
  background-color: var(--card-background-color);
  color: var(--value-text-color);
}

@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
    max-width: 320px;
  }

  .modal-overlay {
    width: 100vw;
    height: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .modal {
    width: 100%;
    max-width: 420px;
  }
}
