<div
  class="modal-overlay"
  [class.active]="isOpen()"
  (click)="modalService.handleOverlayClick($event)"
>
  <div class="modal" (click)="$event.stopPropagation()">
    @let modal = modalService.activeModal();
    @let config = getFormConfig(modal.base);

    @switch (modal.base) {
    @case ('cartridges') {
    <h3 class="modal__title">
      {{ modal.type === 'create' ? config.createTitle : config.editTitle }}
    </h3>
    <app-cartridge-form [cartridgeData]="modal.type === 'edit' ? modal.data : null" (success)="modalService.closeModal()" />
    }
    @case ('locations') {
    <h3 class="modal__title">
      {{ modal.type === 'create' ? config.createTitle : config.editTitle }}
    </h3>
    <app-location-form [locationData]="modal.type === 'edit' ? modal.data : null" (success)="modalService.closeModal()" />
    }
  }
  </div>
</div>
