<section class="cartridge-dashboard">
  <div class="counter-cartridges">
    <div class="counter-cartridges__wrapper">
      <h3 class="counter-cartridges__title">всього картриджів</h3>
      <span class="counter-cartridges__icon">test</span>
    </div>
    <p class="counter-cartridges__total-count">
      {{ cartridgesService.totalCartridgesCount() }}
      <!-- 6 -->
    </p>
    <ul class="counter-cartridges__list">
      @for (cartridgeStatus of countCartridgesByStatus(); track
      cartridgeStatus.id){
      <li
        class="counter-cartridges__list-item"
        [class]="cartridgeStatus.status | translateStatus"
      >
        <p class="list-item__title">{{ cartridgeStatus.status }}</p>
        <p class="list-item__count">{{ cartridgeStatus.count }}</p>
      </li>
      }
    </ul>
  </div>
</section>
