<section class="cartridge-dashboard">
  <div class="counter-cartridges">
    <div class="counter-cartridges__wrapper">
      <h3 class="counter-cartridges__title">всього картриджів</h3>
      <span class="counter-cartridges__icon">test</span>
    </div>
    <p class="counter-cartridges__total-count">6</p>
    <ul class="counter-cartridges__list">
      <li class="counter-cartridges__list-item filled">
        <p class="list-item__title">заправлено</p>
        <p class="list-item__count">1</p>
      </li>
      <li class="counter-cartridges__list-item on-filler">
        <p class="list-item__title">на заправці</p>
        <p class="list-item__count">1</p>
      </li>
      <li class="counter-cartridges__list-item in-printer">
        <p class="list-item__title">в принтері</p>
        <p class="list-item__count">1</p>
      </li>
      <li class="counter-cartridges__list-item ended">
        <p class="list-item__title">закінчився</p>
        <p class="list-item__count">1</p>
      </li>
      <li class="counter-cartridges__list-item on-repair">
        <p class="list-item__title">в ремонті</p>
        <p class="list-item__count">1</p>
      </li>
      <li class="counter-cartridges__list-item non-working">
        <p class="list-item__title">неробочий</p>
        <p class="list-item__count">1</p>
      </li>
    </ul>
  </div>
</section>
