<app-theme />
<app-counter-cartridges />
<app-add-cartridge-button />
<!-- <app-cartridge-filter
  [allCartridgeStatuses]="cartridges.allCartridgeStatuses()"
  (filterChanged)="activeFilters.set($event)"
/> -->

<div class="cartridge-filter">
  <input
    [(ngModel)]="searchQuery"
    type="text"
    name="filter"
    placeholder="Пошук за брендом, моделлю або штрихкодом"
  />
  <select name="status" [(ngModel)]="selectedStatus">
    <option value=""></option>
    @for (item of cartridges.allCartridgeStatuses(); track item.id) {
      <option value="{{ item.status }}">{{ item.status }}</option>
    }
  </select>
</div>

<app-cartridge-list [childFilteredCartridges]="filteredCartridges()" />

@let modal = modalService.activeModal();
@if (modal.type !== null) {
  <app-modal [modalType]="modal.type">
    @if (modal.type === "create-cartridge") {
      <h3 class="modal__title">{{ TEXT.titles.addCartridge }}</h3>
      <app-cartridge-form (success)="modalService.closeModal()" />
    }
    @if (modal.type === "edit-cartridge") {
      <h3 class="modal__title">{{ TEXT.titles.editCartridge }}</h3>
      <app-cartridge-form
        [cartridgeData]="modal.data"
        (success)="modalService.closeModal()"
      />
    }
  </app-modal>
}
