<form
  class="cartridge-form"
  [formGroup]="cartridgeForm"
  (ngSubmit)="handleSubmit()"
>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label for="barcode" class="cartridge-form__label-barcode">{{
      TEXT.fields.barcode
    }}</mat-label>
    <input
      matInput
      appAutofocus
      type="text"
      id="barcode"
      class="cartridge-form__input-barcode"
      placeholder="Введіть Штрихкод"
      id="barcode"
      name="barcode"
      formControlName="barcode"
      autocomplete="on"
    />
  </mat-form-field>
  @if (barcode!.invalid && (barcode!.dirty || barcode!.touched)) {
    @if (barcode!.hasError("required")) {
      <mat-error>{{ TEXT.validation.required }}</mat-error>
    }
    @if (barcode!.hasError("minlength")) {
      <mat-error>{{ TEXT.validation.minLengthBarcode }}</mat-error>
    }
    @if (barcode!.hasError("maxlength")) {
      <mat-error>{{ TEXT.validation.maxLengthBarcode }}</mat-error>
    }
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label for="brand" class="cartridge-form__label-brand">{{
      TEXT.fields.brand
    }}</mat-label>
    <input
      matInput
      type="text"
      id="brand"
      class="cartridge-form__input-brand"
      name="brand"
      formControlName="brand"
      autocomplete="on"
    />
  </mat-form-field>
  @if (brand!.invalid && (brand!.dirty || brand!.touched)) {
    @if (brand!.hasError("required")) {
      <mat-error>{{ TEXT.validation.required }}</mat-error>
    }
    @if (brand!.hasError("minlength")) {
      <mat-error>{{ TEXT.validation.minLengthBrand }}</mat-error>
    }
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label for="model" class="cartridge-form__label-model">{{
      TEXT.fields.model
    }}</mat-label>
    <input
      matInput
      type="text"
      id="model"
      class="cartridge-form__input-model"
      name="model"
      formControlName="model"
      autocomplete="on"
    />
  </mat-form-field>
  @if (model!.invalid && (model!.dirty || model!.touched)) {
    @if (model!.hasError("required")) {
      <mat-error>{{ TEXT.validation.required }}</mat-error>
    }
    @if (model!.hasError("minlength")) {
      <mat-error>{{ TEXT.validation.minLengthModel }}</mat-error>
    }
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label
      for="compatiblePrinters"
      class="cartridge-form__label-printers"
      >{{ TEXT.fields.compatiblePrinters }}</mat-label
    >
    <input
      matInput
      type="text"
      id="compatiblePrinters"
      class="cartridge-form__input-printers"
      name="compatiblePrinters"
      formControlName="compatiblePrinters"
      placeholder="{{ TEXT.placeholders.enterCompatiblePrinters }}"
      autocomplete="on"
    />
  </mat-form-field>
  @if (
    compatiblePrinters!.invalid &&
    (compatiblePrinters!.dirty || compatiblePrinters!.touched)
  ) {
    @if (compatiblePrinters!.hasError("required")) {
      <mat-error>{{ TEXT.validation.required }}</mat-error>
    }
    @if (compatiblePrinters!.hasError("minlength")) {
      <mat-error>{{ TEXT.validation.minLengthCompatiblePrinters }}</mat-error>
    }
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label
      for="alternative-cartridges"
      class="cartridge-form__label-alternative-cartridges"
      >{{ TEXT.fields.alternativeCartridges }}</mat-label
    >
    <input
      matInput
      type="text"
      id="alternative-cartridges"
      class="cartridge-form__input-alternative-cartridges"
      name="alternative-cartridges"
      formControlName="alternativeCartridges"
      placeholder="{{ TEXT.placeholders.enterAlternativeCartridges }}"
      autocomplete="on"
    />
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label for="status" class="cartridge-form__label-status">{{
      TEXT.fields.status
    }}</mat-label>
    <mat-select
      id="status"
      class="cartridge-form__input-status"
      formControlName="status"
      autocomplete="on"
    >
      @for (cartridgeStatus of cartridgeStatuses(); track cartridgeStatus.id) {
        <mat-option [value]="cartridgeStatus.status">
          {{ cartridgeStatus.status }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (status!.invalid && (status!.dirty || status!.touched)) {
    <mat-error>{{ TEXT.validation.required }}</mat-error>
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label for="responsible" class="cartridge-form__label-responsible">{{
      TEXT.fields.responsible
    }}</mat-label>
    <mat-select
      id="responsible"
      class="cartridge-form__input-responsible"
      formControlName="responsible"
    >
      @for (user of users(); track user.id) {
        <mat-option [value]="user.name">{{ user.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (responsible!.invalid && (responsible!.dirty || responsible!.touched)) {
    @if (responsible!.hasError("required")) {
      <mat-error>{{ TEXT.validation.required }}</mat-error>
    }
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label for="location" class="cartridge-form__label-location">{{
      TEXT.fields.location
    }}</mat-label>
    <mat-select
      id="location"
      class="cartridge-form__input-location"
      formControlName="location"
    >
      @for (location of locations(); track location.id) {
        <mat-option [value]="location.id">{{ location.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (location!.invalid && (location!.dirty || location!.touched)) {
    <mat-error>{{ TEXT.validation.required }}</mat-error>
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ TEXT.fields.refilledDate }}</mat-label>
    <input
      matInput
      [matDatepicker]="refilledDatePicker"
      formControlName="refilledDate"
      class="cartridge-form__input-refilledDate"
      placeholder="Число/Місяць/Рік"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="refilledDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #refilledDatePicker></mat-datepicker>
  </mat-form-field>
  @if (
    refilledDate!.invalid && (refilledDate!.dirty || refilledDate!.touched)
  ) {
    <mat-error>{{ TEXT.validation.required }}</mat-error>
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ TEXT.fields.inPrinterDate }}</mat-label>
    <input
      matInput
      [matDatepicker]="inPrinterDatePicker"
      formControlName="inPrinterDate"
      class="cartridge-form__input-inPrinterDate"
      placeholder="Число/Місяць/Рік"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="inPrinterDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #inPrinterDatePicker></mat-datepicker>
  </mat-form-field>
  @if (
    inPrinterDate!.invalid && (inPrinterDate!.dirty || inPrinterDate!.touched)
  ) {
    <mat-error>{{ TEXT.validation.required }}</mat-error>
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ TEXT.fields.onRefillDate }}</mat-label>
    <input
      matInput
      [matDatepicker]="onRefillDatePicker"
      formControlName="onRefillDate"
      class="cartridge-form__input-onRefillDate"
      placeholder="Число/Місяць/Рік"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="onRefillDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #onRefillDatePicker></mat-datepicker>
  </mat-form-field>
  @if (
    onRefillDate!.invalid && (onRefillDate!.dirty || onRefillDate!.touched)
  ) {
    <mat-error>{{ TEXT.validation.required }}</mat-error>
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ TEXT.fields.endDate }}</mat-label>
    <input
      matInput
      [matDatepicker]="endDatePicker"
      formControlName="endDate"
      class="cartridge-form__input-endDate"
      placeholder="Число/Місяць/Рік"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="endDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
  @if (endDate!.invalid && (endDate!.dirty || endDate!.touched)) {
    <mat-error>{{ TEXT.validation.required }}</mat-error>
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label
      for="numberPrintedPagesOfPrinter"
      class="cartridge-form__label-numberPrintedPagesOfPrinter"
      >{{ TEXT.fields.numberPrintedPagesOfPrinter }}</mat-label
    >
    <input
      matInput
      type="number"
      id="numberPrintedPagesOfPrinter"
      class="cartridge-form__input-numberPrintedPagesOfPrinter"
      name="numberPrintedPagesOfPrinter"
      formControlName="numberPrintedPagesOfPrinter"
    />
  </mat-form-field>
  @if (
    numberPrintedPagesOfPrinter!.invalid &&
    (numberPrintedPagesOfPrinter!.dirty || numberPrintedPagesOfPrinter!.touched)
  ) {
    <mat-error>{{ TEXT.validation.required }}</mat-error>
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label
      for="quantityPages"
      class="cartridge-form__label-quantityPages"
      >{{ TEXT.fields.quantityPages }}</mat-label
    >
    <input
      matInput
      type="number"
      id="quantityPages"
      class="cartridge-form__input-quantityPages"
      name="quantityPages"
      formControlName="quantityPages"
    />
  </mat-form-field>
  @if (
    quantityPages!.invalid && (quantityPages!.dirty || quantityPages!.touched)
  ) {
    <mat-error>{{ TEXT.validation.required }}</mat-error>
  }
  <mat-form-field subscriptSizing="dynamic">
    <mat-label for="quantityPages" class="cartridge-form__label-notes">{{
      TEXT.fields.notes
    }}</mat-label>
    <input
      matInput
      type="text"
      id="notes"
      class="cartridge-form__input-notes"
      name="notes"
      formControlName="notes"
    />
  </mat-form-field>
  <button
    matButton="outlined"
    type="submit"
    class="cartridge-form__submit"
    [disabled]="!cartridgeForm.valid"
  >
    {{ cartridgeData() ? TEXT.buttons.saveChanges : TEXT.buttons.addCartridge }}
  </button>
</form>
