.location-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 576px) and (max-width: 1365px) {
  .location-list::after {
    content: "";
    flex: 0 0 320px;
    height: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 1366px) {
  .location-list {
    justify-content: unset;
    margin-left: 10px;
    margin-right: 10px;
  }
}
