@use "@angular/material" as mat;

// Світла тема — за замовчуванням
:root {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$cyan-palette,
    ),
    typography: (
      brand-family: 'Roboto, sans-serif',
    ),
    density: 0, // ← ось тут і спрацює
  ));
}

// Темна тема
.dark-theme {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
      tertiary: mat.$red-palette,
    ),
  ));
  // density не повторюємо — вона не залежить від теми кольорів
}

// Світла тема — за замовчуванням
// :root {
//   @include mat.all-component-themes($light-theme);
// }

// // Темна тема — коли є .dark-theme на body
// .dark-theme {
//   @include mat.all-component-colors($dark-theme);
// }
