/* You can add global styles to this file, and also import other style files */
@import "./normalize.min.css";

:root {
  color-scheme: light;
  --accent-background-color: #5ed5dd;
  --primary-background-color: #f6f7f9;
  --card-background-color: #fcfcfe;
  --field-text-color: #86939b;
  --value-text-color: #000000;
  --status-filled-color: #24c35d;
  --status-on-filler-color: #ffee00;
  --status-in-printer-color: #62a3f5;
  --status-ended-color: #ec4243;
  --status-on-repair-color: #ff5f02;
  --status-non-working-color: #942a2a;
  --error-background-color: #f02929;
  --btn-dark-background-color: #ff5c5c;
  --card-border-color: #dddddd;
  --field-border-color: rgb(71, 68, 68, 0.2);
  --dashboard-card-title-text-size: 14px;
  --dashboard-title-text-size: 26px;
  --alert-text-color: #f02929;
}

.dark-theme {
  color-scheme: dark;
  --accent-background-color: #5ed5dd;
  --primary-background-color: #121317;
  --card-background-color: #181a22;
  --field-text-color: #8c8c96;
  --value-text-color: #fcfcfe;
  --status-filled-color: #24c35d;
  --status-on-filler-color: #ddc912;
  --status-in-printer-color: #62a3f5;
  --status-ended-color: #ec4243;
  --status-on-repair-color: #ff5f02;
  --status-non-working-color: #942a2a;
  --error-background-color: #f02929;
  --btn-dark-background-color: #ff5c5c;
  --card-border-color: #28292e;
  --field-border-color: rgb(71, 68, 68, 0.2);
  --dashboard-card-title-text-size: 14px;
  --dashboard-title-text-size: 26px;
  --alert-text-color: #f02929;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  background-color: var(--primary-background-color);
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.alert {
  color: var(--alert-text-color);
}
